## Reto 01

Este reto va a consistir en limpiar datos del archvo meteoritos.json. Una vez que se hayan retirado datos en NaN, podremos hacer procesamiento con ellos.

In [1]:
import pandas as pd
import numpy as np
import json

with open("meteoritos.json","rt") as archivo:
    json_meteoritos = json.load(archivo)
    
df_meteoritos = pd.DataFrame.from_dict(json_meteoritos)
dataframe = df_meteoritos[['fall','id','mass','name','reclat','reclong']]

convert_dictionary= {
    'fall':str,
    'id':int,
    'mass':float,
    'name':str,
    'reclat':float,
    'reclong':float
}
df_converted = dataframe.astype(convert_dictionary)
df_converted.dtypes

df_converted = df_converted.dropna(how='any', axis=0)
df_converted.head(5)

   fall   id      mass      name    reclat    reclong
0  Fell    1      21.0    Aachen  50.77500    6.08333
1  Fell    2     720.0    Aarhus  56.18333   10.23333
2  Fell    6  107000.0      Abee  54.21667 -113.00000
3  Fell   10    1914.0  Acapulco  16.88333  -99.90000
4  Fell  370     780.0   Achiras -33.16667  -64.95000

In [2]:
print(df_converted.shape)

(960, 6)